<!DOCTYPE html>
<html>

<head>
  <title>MOBAN</title>
  <link href="/static/css/login_style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
</head>

<body>

  <h1> </h1>

  <div class="app-location">
    <h2>欢迎回来</h2>
    <div class="line"><span></span></div>
    <div class="location"><img src="/static/img/location.png" class="img-responsive" alt="" /></div>
    <form method="post">
      {{ form.hidden_tag() }}
      <div>
        {{ form.username.label }} {{ form.username(size=20) }}
      </div>







      <div>
        {{ form.password.label }} {{ form.password(size=30) }}
      </div>

      <div class="submit"><input type="submit" formaction="{{ url_for('user.login') }}"     value="登录"></div>
      <div class="submit"><input type="submit" formaction="{{ url_for('.add') }}"    value="注册"></div>
      <div class="clear"></div>
      <div class="new">
        <div class="clear"></div>
      </div>
    </form>




    <text class="footer" style="font-weight:bold;color:white">
       示例帐号:
       用户名:admin
       密码:admin
     </text>
    <p class="footer">
      <text >浙ICP备17027558号</text>
    </p>
  </div>
</body>

</html>

